body{
    margin: 0;
    padding: 0;
   
}
/* Body lay out*/
.containers{

    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 150px 300px;
    grid-template-areas: 
    "square1 square2 square3"
    "rectangle rectangle rectangle"; 
    gap: 20px;
    height: 500px; 

}


/* Top squares */
.square1{
   
    background-color: rgb(50, 154, 123);
    display: flex; 
    grid-area: square1;
    display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            

}
.square2{
   
    background-color: rgb(50, 154, 123); 
    display: flex;
    grid-area: square2;
    display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            
}
.square3{
   
    background-color: rgb(50, 154, 123); 
    display: flex;
    grid-area: square3;
    display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
           
/* Rectangle */
}
.Rectangle{
    
        background-color: rgb(50, 154, 123); 
        display: flex;
    grid-area: rectangle;
    z-index:  1;
}
/* Figures */
.dot {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-flex;
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 490px;
    left: 150px;
    z-index:  2;
    display: flex;
   flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            
    
  }
  .dot2{
   
        height: 25px;
        width: 25px;
        background-color: rgb(255, 0, 191);
        border-radius: 50%;
        display: inline-flex;
        width: 150px;
        height: 150px;
        position: relative;
        bottom: 360px;
       right: 100px ;
        z-index:  2;
        display: flex;
        flex-wrap: wrap;
            justify-content: center;
            align-items: center;
      
  }
  .dot3{
   
    height: 25px;
    width: 25px;
    background-color: rgb(0, 42, 255);
    border-radius: 50%;
    display: inline-flex;
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 450px;
   right: 350px ;
    z-index:  2;
    display: flex;
    flex-wrap: wrap;
            justify-content: center;
            align-items: center;
}
.dot4{
    height: 25px;
    width: 25px;
    background-color: rgb(4, 4, 6);
    border-radius: 50%;
    display: inline-flex;
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 500px;
     left: 50px;
    z-index:  2;
    display: flex;
    flex-wrap: wrap;
            justify-content: center;
            align-items: center;
    
}
.dot5{
    height: 25px;
    width: 25px;
    background-color: rgb(0, 42, 255);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 650px;
   right: 350px ;
    z-index:  2;
    display: flex;
    flex-wrap: wrap;
            justify-content: center;
            align-items: center;
    
}
.triangle-up {
	width: 0;
	height: 0;
    z-index:  3;
    position: relative;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 400px solid #0e7013;
    right: 200px;
    bottom:590px;
    display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: top;
           
   
    
}
.triangle-up2 {
	width: 0;
	height: 0;
    display: inline-flex;
    z-index:  3;
    position: relative;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 300px solid #afff58;
    left: 800px;
    bottom:910px;
    display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            
}

/* Client submittion form*/
form{
    margin-bottom: 300px;
    margin-top: 50px;
    text-align: center;

}
h1{
    margin-top: 100px;
    float: top;
    display: flex;
    
}

@media (max-width: 400px) {
    .containers {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 150px 300px;
            grid-template-areas: "square1 square2 square3"
            "rectangle rectangle rectangle" "dot dot2 dot3 dot4 dot5" "triangle-up2 triangle-up";
            gap: 20px;
    }
    }

@media  (max-width: 1024px) {
    .containers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px 300px;
        grid-template-areas: "square1 square2 square3"
        "rectangle rectangle rectangle" "dot dot2 dot3 dot4 dot5" "triangle-up2 triangle-up";
        gap: 20px;
    }
}
@media  (min-width: 768px ) {
    .containers {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 150px 300px;
            grid-template-areas: "square1 square2 square3"
            "rectangle rectangle rectangle" "dot dot2 dot3 dot4 dot5" "triangle-up2 triangle-up";
            gap: 20px;
        }
}